# Pandas

In [20]:
import pandas as pd
import numpy as  np

## Series
> 类似于一维数组的对象，比较像数组和字典的结合体

In [21]:
sr = pd.Series([1,2,3,4], index=['a','b','c','d'])
sr

a    1
b    2
c    3
d    4
dtype: int64

In [22]:
# series有两个索引
# 下标索引  标签索引

# 标签索引
# sr['a']
# 下标索引
sr[0]

1

In [23]:
# 标量运算
sr + 5

a    6
b    7
c    8
d    9
dtype: int64

In [24]:
# 相同长度series运算
sr**sr

a      1
b      4
c     27
d    256
dtype: int64

In [25]:
# 切片
sr[0:2]

a    1
b    2
dtype: int64

In [26]:
# 通用函数
np.abs(sr)

a    1
b    2
c    3
d    4
dtype: int64

In [27]:
# 布尔值过滤
sr[sr>1]

b    2
c    3
d    4
dtype: int64

### sereis字典特性

In [28]:
# 通过字典创建
sr = pd.Series({"a":1,"b":2})

In [29]:
# 通过字典标签获取
sr['a']

1

In [30]:
# in操作
'a' in sr

True

In [31]:
# 获取索引
sr.index

Index(['a', 'b'], dtype='object')

In [32]:
# 获取值
sr.values

array([1, 2])

In [33]:
# 花式索引
sr[['a','b']]

a    1
b    2
dtype: int64

In [34]:
# 标签索引切片
# 前包：后包
sr['b':'d']

b    2
dtype: int64

#### 整数索引
> 整数索引在切片中会被定义成标签索引

In [35]:
sr = pd.Series(np.arange(20))

In [36]:
sr2 = sr[10:].copy()

In [37]:
# Series如果用整数当做索引
# 切片中的值一定解释为"标签索引"
sr2[10]

10

In [38]:
# 因为sr2用了整数索引
# 所以切片中的值被当做了标签索引
# 标签索引不能做-1运算，所以报错
sr2[-1]

KeyError: -1

In [39]:
# 解决整数索引切片被当做标签索引
# xxx.loc 中括号解释为标签索引
# 该方法在新版本中舍弃
sr2.loc[10]

10

In [40]:
# xxx.iloc 中括号解释为下标
sr2.iloc[9]

19

### 数据对齐
> 在进行两个series对象运算时，会按照索引进行对齐计算

In [41]:
sr1 = pd.Series([1,2,3,4], index=['a','b','c','d'])
sr2 = pd.Series([4,3,2,1], index=['d','c','b','a'])
sr1 +sr2

a    2
b    4
c    6
d    8
dtype: int64

In [42]:
# 数据对齐 补缺
sr1 = pd.Series([1,2,3,4], index=['a','b','c','d'])
sr2 = pd.Series([4,3,2,1], index=['d','c','e','a'])
sr1 +sr2

a    2.0
b    NaN
c    6.0
d    8.0
e    NaN
dtype: float64

In [43]:
# 如果为nan的值自动填充为 fill_value 指定的值
sr1.add(sr2, fill_value=0)

a    2.0
b    2.0
c    6.0
d    8.0
e    2.0
dtype: float64

### 缺失值处理

In [44]:
# 判断缺失值
sr = sr1+sr2
sr.isnull()  # sr.isnotnull()

a    False
b     True
c    False
d    False
e     True
dtype: bool

In [45]:
# 删除缺失处理
# sr[sr.notnull()] #等价于：
sr.dropna()

a    2.0
c    6.0
d    8.0
dtype: float64

In [46]:
# 给nan设定默认值
sr.fillna(0)

a    2.0
b    0.0
c    6.0
d    8.0
e    0.0
dtype: float64

In [47]:
# 给nan设定平均值
sr.fillna(sr.mean())

a    2.000000
b    5.333333
c    6.000000
d    8.000000
e    5.333333
dtype: float64

## DataFrame
> 表格型数据结构，含有一组有序序列
> 由Series组成的字典，并且公用一个索引

In [48]:
# 创建DataFrame
pd.DataFrame({'one':[1,2,3],'two':[4,5,6]},index=['a','b','c'])

   one  two
a    1    4
b    2    5
c    3    6

In [49]:
# 创建DataFrame
df = pd.DataFrame({'one':pd.Series([1,2,3], index=['a','b','c']),'two':pd.Series([1,2,3,4], index=['b','a','c','d'])})
df

   one  two
a  1.0    2
b  2.0    1
c  3.0    3
d  NaN    4

### 常用属性
> index 获取索引
T 转置
columns 获取列索引
values 获取值数组
describe（） 获取快速统计

In [50]:
# 行索引
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [51]:
# 值
df.values

array([[ 1.,  2.],
       [ 2.,  1.],
       [ 3.,  3.],
       [nan,  4.]])

In [52]:
# 转置
df.T

       a    b    c    d
one  1.0  2.0  3.0  NaN
two  2.0  1.0  3.0  4.0

In [53]:
# 列索引
df.columns

Index(['one', 'two'], dtype='object')

In [54]:
# 统计描述
df.describe()

       one       two
count  3.0  4.000000
mean   2.0  2.500000
std    1.0  1.290994
min    1.0  1.000000
25%    1.5  1.750000
50%    2.0  2.500000
75%    2.5  3.250000
max    3.0  4.000000

### 索引和切片

In [55]:
# 通过标签的方式切片 行，列
df.loc['a','one']

1.0

In [56]:
# 整行切片
df.loc['a',:]

one    1.0
two    2.0
Name: a, dtype: float64

In [57]:
# 花式索引
df.loc[['a','c'],:]

   one  two
a  1.0    2
c  3.0    3

In [58]:
df.loc[['a','c'],'two']

a    2
c    3
Name: two, dtype: int64

In [59]:
del df
df = pd.DataFrame({'two':[1,2,3,4],'one':[4,5,6,7]}, index=['c','d','b','a'])

In [60]:
df2 = pd.DataFrame({'one':pd.Series([1,2,3], index=['a','b','c']),'two':pd.Series([1,2,3,4], index=['b','a','c','d'])})

In [61]:
df

   two  one
c    1    4
d    2    5
b    3    6
a    4    7

In [62]:
df2

   one  two
a  1.0    2
b  2.0    1
c  3.0    3
d  NaN    4

In [63]:
df+df2

   one  two
a  8.0    6
b  8.0    4
c  7.0    4
d  NaN    6

#### 缺失数据

In [64]:
df2.fillna(0)

   one  two
a  1.0    2
b  2.0    1
c  3.0    3
d  0.0    4

In [65]:
# pd的dataframe的dropna是把有缺失值的整行删掉
df2.dropna()

   one  two
a  1.0    2
b  2.0    1
c  3.0    3

In [66]:
# 两行都是nun才会删除整行,默认='any'
df2.dropna(how='all')

   one  two
a  1.0    2
b  2.0    1
c  3.0    3
d  NaN    4

In [67]:
# 删除一列的nan值
df2
# df.dropna(axis=1)

   one  two
a  1.0    2
b  2.0    1
c  3.0    3
d  NaN    4

In [68]:
# 删除一列的nan值
# axis代表很纵坐标轴，0：横轴 1：纵轴
df2.loc['c','one']=np.nan
df2.dropna(axis=1)

   two
a    2
b    1
c    3
d    4

 ## pandas 常用函数
 > mean（axis=0，skipna=Flase） 对列、行求平均值
 sum（axis=1） 对列/行求和
 sort_index(axis,...,ascending) 队、列行索引排序
 sort_values(by,axis,ascending)  对某一列、行的值排序
 NumPy 的通用函数同样适用于panads

In [69]:
df.loc['c','one']=np.nan
df

   two  one
c    1  NaN
d    2  5.0
b    3  6.0
a    4  7.0

In [70]:
# 列取平均值，返回series对象
df.mean()

two    2.5
one    6.0
dtype: float64

In [71]:
# 行取平均值
df.mean(axis=1)

c    1.0
d    3.5
b    4.5
a    5.5
dtype: float64

In [72]:
# 按列求和
df.sum()

two    10.0
one    18.0
dtype: float64

In [73]:
# 按行求和
df.sum(axis=1)

c     1.0
d     7.0
b     9.0
a    11.0
dtype: float64

In [74]:
# 按列值排序(输入列名)
# 有缺失值的列不参与排序统一放最后边
df.sort_values(by='two')

   two  one
c    1  NaN
d    2  5.0
b    3  6.0
a    4  7.0

In [75]:
# 按列值排序,降序
df.sort_values(by='two', ascending=False)

   two  one
a    4  7.0
b    3  6.0
d    2  5.0
c    1  NaN

In [76]:
# 按行排序 降序
# axis表示从纵坐标找到a，并且在a这一行的值从大到小排列
df.sort_values(by='a', ascending=False, axis=1)

   one  two
c  NaN    1
d  5.0    2
b  6.0    3
a  7.0    4

In [77]:
# 按索引排序 降序
df.sort_index(ascending=False)

   two  one
d    2  5.0
c    1  NaN
b    3  6.0
a    4  7.0

In [78]:
# 按索引排序 降序 按行排序
# two 在one 前面
df.sort_index(ascending=False, axis=1)

   two  one
c    1  NaN
d    2  5.0
b    3  6.0
a    4  7.0

## 时间序列

In [79]:
 # 时间字符串转换时间对象
pd.to_datetime(['2021-01-01','2022-feb-01'])

DatetimeIndex(['2021-01-01', '2022-02-01'], dtype='datetime64[ns]', freq=None)

In [80]:
# 时间范围
# periods 时间长度
# pd.date_range('2022-01-01','2022-01-10')
pd.date_range('2022-01-01',periods=10)

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10'],
              dtype='datetime64[ns]', freq='D')

In [81]:
# 时间频率(单位)
pd.date_range('2022-01-01',periods=10, freq='H')

DatetimeIndex(['2022-01-01 00:00:00', '2022-01-01 01:00:00',
               '2022-01-01 02:00:00', '2022-01-01 03:00:00',
               '2022-01-01 04:00:00', '2022-01-01 05:00:00',
               '2022-01-01 06:00:00', '2022-01-01 07:00:00',
               '2022-01-01 08:00:00', '2022-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [82]:
# 每周的周一
pd.date_range('2022-01-01',periods=10, freq='W-MON')

DatetimeIndex(['2022-01-03', '2022-01-10', '2022-01-17', '2022-01-24',
               '2022-01-31', '2022-02-07', '2022-02-14', '2022-02-21',
               '2022-02-28', '2022-03-07'],
              dtype='datetime64[ns]', freq='W-MON')

In [83]:
# 工作日
pd.date_range('2022-01-01',periods=10, freq='B')

DatetimeIndex(['2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14'],
              dtype='datetime64[ns]', freq='B')

### 时间序列

In [84]:
sr = pd.Series(np.arange(100), index=pd.date_range('2022-01-01', periods=100))
sr

2022-01-01     0
2022-01-02     1
2022-01-03     2
2022-01-04     3
2022-01-05     4
              ..
2022-04-06    95
2022-04-07    96
2022-04-08    97
2022-04-09    98
2022-04-10    99
Freq: D, Length: 100, dtype: int64

In [85]:
# 选取时间序列中的一段
sr['2022-03']

2022-03-01    59
2022-03-02    60
2022-03-03    61
2022-03-04    62
2022-03-05    63
2022-03-06    64
2022-03-07    65
2022-03-08    66
2022-03-09    67
2022-03-10    68
2022-03-11    69
2022-03-12    70
2022-03-13    71
2022-03-14    72
2022-03-15    73
2022-03-16    74
2022-03-17    75
2022-03-18    76
2022-03-19    77
2022-03-20    78
2022-03-21    79
2022-03-22    80
2022-03-23    81
2022-03-24    82
2022-03-25    83
2022-03-26    84
2022-03-27    85
2022-03-28    86
2022-03-29    87
2022-03-30    88
2022-03-31    89
Freq: D, dtype: int64

In [86]:
# 重新取样
# 每周数据的总和
sr.resample('w').sum()

2022-01-02      1
2022-01-09     35
2022-01-16     84
2022-01-23    133
2022-01-30    182
2022-02-06    231
2022-02-13    280
2022-02-20    329
2022-02-27    378
2022-03-06    427
2022-03-13    476
2022-03-20    525
2022-03-27    574
2022-04-03    623
2022-04-10    672
Freq: W-SUN, dtype: int64

## 文件读取

In [87]:
# 读取文件，并将日期作为索引，且将日期转换成日期对象
pd.read_csv('./Temp.csv', index_col='日期',parse_dates=True)

FileNotFoundError: [Errno 2] No such file or directory: './Temp.csv'

In [ ]:
# 生成列名
pd.read_csv('./Temp.csv',header=None)

In [ ]:
# 添加列名
pd.read_csv('./Temp.csv',header=None, names=list('abcdefgh'))

In [88]:
# 指定哪些字符是nan
# na_values=[]
pd.read_csv('./Temp.csv', index_col='日期', parse_dates=True, na_values=['nan', 'Nan'])

FileNotFoundError: [Errno 2] No such file or directory: './Temp.csv'